html,
body {
  background-color:#8ccfec;
  
  height: 100%;
}

.h1{
  color: #162d7d !important;
}
.h3{
  color: #103154;
}


.form-signin {
    
    border-radius: 3rem;
  width: 330px;
  padding-top: 3rem;
}




.form-signin .form-floating:focus-within {
  z-index: 5;
}

.form-signin input[type="email"] {
  box-shadow: 2px 2px rgba(81, 83, 82, 0.188);
  padding-bottom: 10px;
  transition: 0.3s;
  margin-bottom: 10px;
  margin-top: 5px;
  
  
}

.form-signin input[type="password"] {
  box-shadow: 2px 2px rgba(81, 83, 82, 0.188);
  margin-bottom: 10px;
  margin-top: 5px;
  
  
}

.card {
 box-shadow: 5px 5px 5px 0 rgba(25, 26, 25, 0.384);
 transition: 0.5s;
 width: 100%;
 padding: 10px;
 padding-bottom: 50px;
 border-radius: 2rem;
 background-color: #ffffff;
 ;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  

.btn{
    border-radius: 1rem;
    background-color: rgb(3, 103, 244);
    box-shadow: 2px 2px 2px 0px rgba(31, 125, 240, 0.604);
        --bd-violet-bg: primary;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #000000c2;
        --bs-btn-hover-border-color: #12b5f6de;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
}

.form-check-input{
  border-color: black;
}